name: Cache invalidate Staging

on:
  repository_dispatch:
  workflow_run:
    workflows:
    - "Docker deploy Staging"
    - "Lambda restart Staging"
    types:
    - completed

env: 
  AWS_REGION: ca-central-1

permissions:
  id-token: write

jobs:
  cache-invalidate:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest

    steps:
    - name: Audit DNS requests
      uses: cds-snc/dns-proxy-action@b63a989befc20506036aab86a7d66c4159272637
      env:
        DNS_PROXY_FORWARDTOSENTINEL: "true"
        DNS_PROXY_LOGANALYTICSWORKSPACEID: ${{ secrets.LOG_ANALYTICS_WORKSPACE_ID }}
        DNS_PROXY_LOGANALYTICSSHAREDKEY: ${{ secrets.LOG_ANALYTICS_WORKSPACE_KEY }}

    - name: Configure aws credentials using OIDC
      uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
      with:
        role-to-assume: arn:aws:iam::${{ vars.STAGING_AWS_ACCOUNT_ID }}:role/cds-superset-docs-apply 
        role-session-name: CacheInvalidate
        aws-region: ${{ env.AWS_REGION }}

    - name: Invalidate CloudFront cache
      run: |
        DISTRIBUTION_ID="$(aws cloudfront list-distributions --query "DistributionList.Items[?Aliases.Items[?contains(@,'docs.superset')]].Id" --output text)"
        aws cloudfront create-invalidation \
          --distribution-id "$DISTRIBUTION_ID" \
          --paths "/*"
