name: Docker build and push Staging

on:
  push:
    branches:
      - main
    paths:
      - "app/**"
      - ".github/workflows/docker-apply-staging.yml"

env: 
  AWS_REGION: ca-central-1
  REGISTRY: ${{ vars.STAGING_AWS_ACCOUNT_ID }}.dkr.ecr.ca-central-1.amazonaws.com/cds-superset-docs
  GITHUB_SHA: ${{ github.sha }}

permissions:
  id-token: write
  contents: write
  
jobs:
  docker-push:
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'
    runs-on: ubuntu-24.04-arm

    steps:
    - name: Audit DNS requests
      uses: cds-snc/dns-proxy-action@f0796e7f3d6bec5d40aecb0321ed8012f5602f84
      env:
        DNS_PROXY_FORWARDTOSENTINEL: "true"
        DNS_PROXY_LOGANALYTICSWORKSPACEID: ${{ secrets.LOG_ANALYTICS_WORKSPACE_ID }}
        DNS_PROXY_LOGANALYTICSSHAREDKEY: ${{ secrets.LOG_ANALYTICS_WORKSPACE_KEY }}

    - name: Checkout
      uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

    - name: Configure aws credentials using OIDC
      uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
      with:
        role-to-assume: arn:aws:iam::${{ vars.STAGING_AWS_ACCOUNT_ID }}:role/cds-superset-docs-apply 
        role-session-name: PushContainer
        aws-region: ${{ env.AWS_REGION }}

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@062b18b96a7aff071d4dc91bc00c4c1a7945b076 # v2.0.1 
  
    - name: Build container
      run: |
        docker build \
          --file ./app/Dockerfile \
          --platform linux/arm64 \
          --tag $REGISTRY:sha-${{ env.GITHUB_SHA }} \
          --tag $REGISTRY:latest ./app

    - name: Push Container to Amazon ECR
      run: |
        docker push $REGISTRY:sha-${{ env.GITHUB_SHA }}
        docker push $REGISTRY:latest

    - name: Docker generate SBOM
      uses: cds-snc/security-tools/.github/actions/generate-sbom@5a93d1deec72d4cb2737cb8418364fedba1c695c # v3.2.1
      env:
        TRIVY_DB_REPOSITORY: ${{ vars.TRIVY_DB_REPOSITORY }}
      with:
        docker_image: "${{ env.REGISTRY }}:latest"
        dockerfile_path: "./app/Dockerfile"
        platform: "linux/arm64"
        sbom_name: "cds-superset-docs"
        token: "${{ secrets.GITHUB_TOKEN }}"