name: Lambda restart Production

on:
  workflow_dispatch:

env: 
  AWS_REGION: ca-central-1
  FUNCTION_NAME: cds-superset-docs

permissions:
  id-token: write

jobs:
  lambda-restart:
    runs-on: ubuntu-latest

    steps:
    - name: Audit DNS requests
      uses: cds-snc/dns-proxy-action@f0796e7f3d6bec5d40aecb0321ed8012f5602f84
      env:
        DNS_PROXY_FORWARDTOSENTINEL: "true"
        DNS_PROXY_LOGANALYTICSWORKSPACEID: ${{ secrets.LOG_ANALYTICS_WORKSPACE_ID }}
        DNS_PROXY_LOGANALYTICSSHAREDKEY: ${{ secrets.LOG_ANALYTICS_WORKSPACE_KEY }}

    - name: Configure aws credentials using OIDC
      uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
      with:
        role-to-assume: arn:aws:iam::${{ vars.PROD_AWS_ACCOUNT_ID }}:role/cds-superset-docs-apply 
        role-session-name: RestartLambda
        aws-region: ${{ env.AWS_REGION }}

    - name: Restart Lambda function
      run: |
        aws lambda update-function-configuration \
          --function-name ${{ env.FUNCTION_NAME }} \
          --description "Updated: $(date -u +'%Y-%m-%d %H:%M:%S UTC')" > /dev/null 2>&1

