name: Terraform Apply Production

on:
  release:
    types:
    - published

env:
  AWS_REGION: ca-central-1
  TERRAFORM_VERSION: 1.10.5
  TERRAGRUNT_VERSION: 0.73.13
  TF_INPUT: false
  TF_VAR_hosted_zone_id: ${{ secrets.PROD_HOSTED_ZONE_ID }}
  TF_VAR_wordpress_user: ${{ secrets.PROD_WORDPRESS_USER }}
  TF_VAR_wordpress_password: ${{ secrets.PROD_WORDPRESS_PASSWORD }}
  TF_VAR_upptime_status_header: ${{ secrets.PROD_UPPTIME_STATUS_HEADER }}
  
permissions:
  id-token: write
  contents: read

jobs:
  terragrunt-apply:
    runs-on: ubuntu-latest
    steps:

      - name: Audit DNS requests
        uses: cds-snc/dns-proxy-action@b63a989befc20506036aab86a7d66c4159272637
        env:
          DNS_PROXY_FORWARDTOSENTINEL: "true"
          DNS_PROXY_LOGANALYTICSWORKSPACEID: ${{ secrets.LOG_ANALYTICS_WORKSPACE_ID }}
          DNS_PROXY_LOGANALYTICSSHAREDKEY: ${{ secrets.LOG_ANALYTICS_WORKSPACE_KEY }}

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup terraform tools
        uses: cds-snc/terraform-tools-setup@cc15ce9039f6c37c592fb9930b70466b229d2e9b # v1

      - name: Configure aws credentials using OIDC
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::${{ vars.PROD_AWS_ACCOUNT_ID }}:role/cds-superset-docs-release
          role-session-name: TFApply
          aws-region: ${{ env.AWS_REGION }}

      - name: Apply Terraform
        working-directory: terragrunt/env/prod
        run: terragrunt apply --terragrunt-non-interactive -auto-approve