name: Terraform Apply Staging

on:
  push:
    branches:
      - main
    paths:
      - "terragrunt/aws/**"
      - "terragrunt/env/staging/**"
      - "terragrunt/env/common/**"
      - "terragrunt/env/root.hcl"
      - ".github/workflows/tf-apply-staging.yml"

env:
  AWS_REGION: ca-central-1
  TERRAFORM_VERSION: 1.10.5
  TERRAGRUNT_VERSION: 0.73.13
  TF_INPUT: false
  TF_VAR_hosted_zone_id: ${{ secrets.STAGING_HOSTED_ZONE_ID }}
  TF_VAR_wordpress_user: ${{ secrets.STAGING_WORDPRESS_USER }}
  TF_VAR_wordpress_password: ${{ secrets.STAGING_WORDPRESS_PASSWORD }}
  TF_VAR_upptime_status_header: ${{ secrets.STAGING_UPPTIME_STATUS_HEADER }}
  
permissions:
  id-token: write
  contents: read

jobs:
  terragrunt-apply:
    if: github.ref == 'refs/heads/main' && github.event_name == 'push'

    runs-on: ubuntu-latest
    steps:

      - name: Audit DNS requests
        uses: cds-snc/dns-proxy-action@85118f9b128d57d13dc3cc2ee11d014658dd3e1a
        env:
          DNS_PROXY_FORWARDTOSENTINEL: "true"
          DNS_PROXY_LOGANALYTICSWORKSPACEID: ${{ secrets.LOG_ANALYTICS_WORKSPACE_ID }}
          DNS_PROXY_LOGANALYTICSSHAREDKEY: ${{ secrets.LOG_ANALYTICS_WORKSPACE_KEY }}

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1

      - name: Setup terraform tools
        uses: cds-snc/terraform-tools-setup@5f76a50c0b5f0e133634fecc8dd42f67db57bc05 # v1.1.0

      - name: Configure aws credentials using OIDC
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::${{ vars.STAGING_AWS_ACCOUNT_ID }}:role/cds-superset-docs-apply 
          role-session-name: TFApply
          aws-region: ${{ env.AWS_REGION }}

      - name: Apply Terraform
        working-directory: terragrunt/env/staging
        run: terragrunt apply --terragrunt-non-interactive -auto-approve