name: Terraform Plan Staging

concurrency:
  group: terraform-staging
  cancel-in-progress: false

on:
  pull_request:
    paths:
      - "terragrunt/aws/**"
      - "terragrunt/env/staging/**"
      - "terragrunt/env/common/**"
      - "terragrunt/env/root.hcl"
      - ".github/workflows/tf-plan-staging.yml"

env:
  AWS_REGION: ca-central-1
  TERRAFORM_VERSION: 1.14.4
  TERRAGRUNT_VERSION: 0.99.1
  TF_SUMMARIZE_VERSION: 0.3.5
  TF_INPUT: false
  TF_VAR_hosted_zone_id: ${{ secrets.STAGING_HOSTED_ZONE_ID }}
  TF_VAR_security_txt_content: ${{ vars.SECURITY_TXT_CDSSANDBOX_XYZ }}
  TF_VAR_wordpress_user: ${{ secrets.STAGING_WORDPRESS_USER }}
  TF_VAR_wordpress_password: ${{ secrets.STAGING_WORDPRESS_PASSWORD }}
  TF_VAR_upptime_status_header: ${{ secrets.STAGING_UPPTIME_STATUS_HEADER }}

permissions:
  id-token: write
  contents: read
  pull-requests: write

jobs:
  terraform-plan:

    runs-on: ubuntu-latest
    steps:
      - name: Audit DNS requests
        uses: cds-snc/dns-proxy-action@65e3e98067387181c41680400dec4d3af72e77a4
        env:
          DNS_PROXY_FORWARDTOSENTINEL: "true"
          DNS_PROXY_LOGANALYTICSWORKSPACEID: ${{ secrets.LOG_ANALYTICS_WORKSPACE_ID }}
          DNS_PROXY_LOGANALYTICSSHAREDKEY: ${{ secrets.LOG_ANALYTICS_WORKSPACE_KEY }}

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup terraform tools
        uses: cds-snc/terraform-tools-setup@5a19984bcb888600ad646e0caf5c6f4d0a54c165 # v1.2.0

      - name: Configure aws credentials using OIDC
        uses: aws-actions/configure-aws-credentials@61815dcd50bd041e203e49132bacad1fd04d2708 # v5.1.1
        with:
          role-to-assume: arn:aws:iam::${{ vars.STAGING_AWS_ACCOUNT_ID }}:role/cds-superset-docs-plan 
          role-session-name: TFPlan
          aws-region: ${{ env.AWS_REGION }}

      - name: Terraform plan
        uses: cds-snc/terraform-plan@1b4903a352477e557da26309f39e62d2a5fdd08b # v4.0.0
        with:
          comment-delete: true
          comment-title: "Staging"
          directory: "terragrunt/env/staging"
          github-token: ${{ secrets.GITHUB_TOKEN }}
          terragrunt: true